{% extends "layout.html" %}
{% block content %}

<h1>Seo Checker</h1>

<h2>General Information</h2>

<h3>Title</h3>
<blockquote>{{ data.title or 'Not found!'}}</blockquote>

<h3>Description</h3>
<blockquote>{{ data.description or 'Not found!'}}</blockquote>

<h2>Twitter Preview</h2>

<div class="twitter-card__container">
    <div class="twitter-card__image-container">
        {% if data.twitter.image %}
        <img
            class="twitter-card__image"
            src="{{ data.twitter.image }}"
        />
        {% else %}
        <img class="twitter-card__image-placeholder" src="data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='%238899A6' viewBox='0 0 24 24'%3E%3Cpath id='bounds' opacity='0' d='M0 0h24v24H0z'/%3E%3Cpath d='M14 11.25H6c-.414 0-.75.336-.75.75s.336.75.75.75h8c.414 0 .75-.336.75-.75s-.336-.75-.75-.75zM14 7.25H6c-.414 0-.75.336-.75.75s.336.75.75.75h8c.414 0 .75-.336.75-.75s-.336-.75-.75-.75zM10.75 15.25H6c-.414 0-.75.336-.75.75s.336.75.75.75h4.75c.414 0 .75-.336.75-.75s-.336-.75-.75-.75z'/%3E%3Cpath d='M21.5 11.25h-3.25v-7C18.25 3.01 17.24 2 16 2H4C2.76 2 1.75 3.01 1.75 4.25v15.5C1.75 20.99 2.76 22 4 22h15.5c1.517 0 2.75-1.233 2.75-2.75V12c0-.414-.336-.75-.75-.75zm-18.25 8.5V4.25c0-.413.337-.75.75-.75h12c.413 0 .75.337.75.75v15c0 .452.12.873.315 1.25H4c-.413 0-.75-.337-.75-.75zm16.25.75c-.69 0-1.25-.56-1.25-1.25v-6.5h2.5v6.5c0 .69-.56 1.25-1.25 1.25z'/%3E%3C/svg%3E%0A">
        {% endif %}
    </div>
    <div class="twitter-card__content">
        <h3 class="twitter-card__title">
            {{ data.twitter.title }}
        </h3>
        <p class="twitter-card__description">
            {{ data.twitter.description }}
        </p>
        <span class="twitter-card__destination">
            {{ data.twitter.url_host }}
        </span>
    </div>
</div>

<h2>Open Graph (Facebook, Slack, etc.) Preview</h2>

<div class="facebook-card__container">
    {% if data.open_graph.image %}
    <div class="facebook-card__image-container">
        <img src="{{ data.open_graph.image }}" class="facebook-card__image">
    </div>
    {% endif %}
    <div class="facebook-card__content">
        <span class="facebook-card__host">
            {{ data.open_graph.url_host }}
        </span>
        <span class="facebook-card__title">
            {{ data.open_graph.title }}
        </span>
        <span class="facebook-card__description">
            {{ data.open_graph.description }}
        </span>
    </div>
</div>
{% endblock %}